pre{
    background-color: aqua;
}
h3{
    background-color: fuchsia;
}

body{
    background-color: black;
}
hr{
    background-color: chartreuse;
}

h1{
    background-color: chartreuse;
}